
PasswordChecker/venv/bin/

PasswordChecker/venv/lib/

PasswordChecker/venv/lib64

PasswordChecker/.idea/

PasswordChecker/venv/pyvenv.cfg

TwitterBot/.idea

TwitterBot/venv/bin

TwitterBot/venv/lib

TwitterBot/venv/lib64

TwitterBot/venv/__pycache__

TwitterBot/venv/pyvenv.cfg
Flask/.idea/
Flask/venv/lib64
Flask/venv/pyvenv.cfg
Flask/venv/__pycache__/
Flask/venv/bin/
Flask/venv/lib/
